*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body , p , h2 , h3 , h1 , span {
  margin: 0;
  padding: 0;
}

.main-wrapper {
  max-width: 1400px;
  width: 80%;
  margin: 0 auto;
  position: relative;
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
}


@media screen and (max-width: 576px) {
  .main-wrapper {
    width: 90%;
  }
}


.layout-additional {
  
}